---
layout: default
---

<!-- Main -->
<div id="main" style="margin-top: 20px; padding-top: 20px;">
  <section>
    <div class="row icons">
      <div class="1u 4u(small)"><a href="/" class="icon fa fa-home fa-2x"></a></div>
      <div class="1u 4u(small)"><a href="/"><img src="/images/flags/en.png" style="height: 28px;"></a></div>
      <div class="1u 4u(small)"><a href="/es"><img src="/images/flags/es.png" style="height: 28px;"></a></div>

      <div class="1u 6u(small)">&nbsp;</div>
      <div class="1u 6u(small)">&nbsp;</div>

      {% if site.facebook_username %}
      <div class="1u 1u(small)"><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" class="icon fa fa-facebook fa-2x"></a></div>
      {% endif %}
      {% if site.instagram_username %}
      <div class="1u 2u(small)"><a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank" class="icon fa fa-instagram fa-2x"></a></div>
      {% endif %}
      {% if site.tumblr_username %}
      <div class="1u 2u(small)"><a href="https://{{ site.tumblr_username }}.tumblr.com" target="_blank" class="icon fa fa-tumblr fa-2x"></a></div>
      {% endif %}
      {% if site.pinterest_username %}
      <div class="1u 2u(small)"><a href="https://pinterest.com/{{ site.pinterest_username }}" target="_blank" class="icon fa fa-pinterest fa-2x"></a></div>
      {% endif %}
      {% if site.etsy_username %}
      <div class="1u 2u(small)"><a href="https://www.etsy.com/shop/{{ site.etsy_username }}" target="_blank" class="icon fa fa-shopping-cart fa-2x"></a></div>
      {% endif %}
      {% if site.patreon_username %}
      <div class="1u 2u(small)"><a href="https://www.patreon.com/{{ site.patreon_username }}" target="_blank" class="icon fa fa-heart fa-2x"></a></div>
      {% endif %}
      {% if site.email %}
      <div class="1u 1u(small)"><a href="mailto:{{ site.email }}" class="icon fa fa-envelope-o fa-2x"></a></div>
      {% endif %}
    </div>
  </section>
  <section>
    <header class="major">
      <div class="row">
        <div class="12u">
          <img src="/images/avatar.jpg" alt="" style="width: 10em; border-radius: 200px;" />
        </div>
        <div class="12u">
          <center>
            <h1 style="font-family: Pacifico; font-size: 4em; padding-bottom: 5px; margin-bottom: 5px;">Adi Riley Artist</h1>
            <p style="font-family: Oswald; font-size: 1.5em; color: #F42A2A; margin-top: 5px; padding-top: 5px;">Professional Illustrator</p>
          </center>
        </div>
      </div>
    </header>
  </section>
  <section>
    <div class="row">
      <article class="6u 12u(small)">
        <header>
          <center><h2><a href="/portfolio.html" style="font-family: Baveuse;">Portfolio</a></h2></center>
        </header>
        <section>
          <a href="/portfolio.html"><img src="/images/custom/Portfolio.jpg" class="fit image"></a>
          <p style="text-align: center;">A collection of my past work, showcasing my different styles and techniques.</p>
        </section>
      </article>

      <article class="6u 12u(small)">
        <header>
          <center><h2><a href="/custom-illustrations.html" style="font-family: Baveuse;">Custom Illustrations</a></h2></center>
        </header>
        <section>
          <a href="/custom-illustrations.html"><img src="/images/custom/Custom.jpg" class="fit image"></a>
          <p style="text-align: center;">Want a personal touch to the art you hang on your wall or a unique special gift for someone?</p>
        </section>
      </article>

      <article class="6u 12u(small)">
        <header>
          <center><h2><a href="/current-projects.html" style="font-family: Baveuse;">Current Projects</a></h2></center>
        </header>
        <section>
          <a href="/current-projects.html"><img src="/images/custom/UnderConstruction.jpg" class="fit image"></a>
          <p style="text-align: center;">Keep up to date with my newest projects, books, illustrations and custom work.</p>
        </section>
      </article>

      <article class="6u 12u(small)">
        <header>
          <center><h2><a href="/ethos.html" style="font-family: Baveuse;">My Philosophy</a></h2></center>
        </header>
        <section>
          <a href="/ethos.html"><img src="/images/custom/Ethos.jpg" class="fit image"></a>
          <p style="text-align: center;">My personal thoughts about art and what drives me as an artist.</p>
        </section>
      </article>

      <center>
        <article class="6u 12u(small)">
          <header>
            <center><h2><a href="/support-me.html" style="font-family: Baveuse;">How You Can Support Me</a></h2></center>
          </header>
          <section>
            <a href="/support-me.html"><img src="/images/custom/PatreonTab.jpg" class="fit image"></a>
            <p style="text-align: center;">Be involved in creating my fantasy detective book and receive rewards at the same time.</p>
          </section>
        </article>
      </center>
    </div>
  </section>

  <section>
    <header class="major" style="margin-bottom: 20px;">
      <div class="image avatar">
        <img src="/images/avatar.jpg" alt="avatar" style="width: 6em; float: left;" />
      </div>
    </header>

    <section>
      <p>
        I am an English artist based in the southern Spanish city of Malaga, I work predominantly as an illustrator creating very stylised black and white, highly detailed artwork, often with a humorous theme. The goal with my art is for people to be captured by their first glance then absorbed into the smaller details and funny twists hidden inside. I’m working on various projects including my own book along with creating one of a kind original illustrations as well as custom artwork that I can tailor to clients’ interests.
      </p>
    </section>
  </section>
  <section>
    <center>
      <h5 style="color: white;">created with <i class="fa fa-heart" style="color: #F42A2A;"></i> by <a href="https://neko250.github.io" target="_blank" style="color: #F42A2A;">neko250</a></h5>
      <h5 style="color: white;">&copy; Adi Riley Artist</h5>
    </center>
  </section>
</div>
