---
layout: default
---

<!-- Main -->
<div id="main" style="margin-top: 15px; padding-top: 15px;">
    <section style="position: absolute; right: 77px; margin-left: 77px;">
        <ul class="icons shadow">
              {% if site.facebook_username %}
              <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" class="icon fa-facebook fa-lg">
                  <span class="label">Facebook</span>
                </a>
              </li>
              {% endif %}

              {% if site.tumblr_username %}
              <li>
                <a href="https://{{ site.tumblr_username }}.tumblr.com" target="_blank" class="icon fa-tumblr fa-lg">
                  <span class="label">Tumblr</span>
                </a>
              </li>
              {% endif %}

              {% if site.pinterest_username %}
              <li>
                <a href="https://pinterest.com/{{ site.pinterest_username }}" target="_blank" class="icon fa-pinterest fa-lg">
                  <span class="label">Pinterest</span>
                </a>
              </li>
              {% endif %}

              {% if site.instagram_username %}
              <li>
                <a href="https://www.instagram.com/{{ site.etsy_username }}" target="_blank" class="icon fa-instagram fa-lg">
                  <span class="label">Instagram</span>
                </a>
              </li>
              {% endif %}

              {% if site.twitter_username %}
              <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="icon fa-twitter fa-lg">
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              {% if site.etsy_username %}
              <li>
                <a href="https://www.etsy.com/shop/{{ site.etsy_username }}" target="_blank" class="icon fa-shopping-cart fa-lg">
                  <span class="label">Etsy</span>
                </a>
              </li>
              {% endif %}

              {% if site.patreon_username %}
              <li>
                <a href="https://www.patreon.com/{{ site.patreon_username }}" target="_blank" class="icon fa-heart fa-lg">
                  <span class="label">Patreon</span>
                </a>
              </li>
              {% endif %}

              {% if site.email %}
              <li>
                <a href="mailto:{{ site.email }}" class="icon fa-envelope-o fa-lg">
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
            </ul>
    </section>
    <section>
        <header class="major">
            <div class="row">
              <div class="2u 12u(small)">
                <img src="/images/avatar.jpg" alt="" style="width: 10em; border-radius: 200px;" />
              </div>
              <div class="10u 12u(small)">
                <center>
                  <h1 style="font-family: Pacifico; font-size: 4em; padding-bottom: 5px; margin-bottom: 5px;">Adi Riley Artist</h1>
                  <p style="font-family: Oswald; font-size: 1.5em; color: #F42A2A; margin-top: 5px; padding-top: 5px;">Ilustrador Profesional</p>
                </center>
              </div>
            </div>
        </header>
    </section>
    <section>
        <div class="row">
            <article class="6u 12u(small)">
                <header>
                    <center><h1><a href="/es/portfolio.html" style="font-family: Pacifico;">Portafolio</a></h1></center>
                </header>
                <section>
                    <a href="/es/portfolio.html"><img src="/images/custom/Portfolio.jpg" class="fit image"></a>
                    <p style="text-align: center;">Una colección de mi trabajo anterior, exhibiendo mis diversos estilos y técnicas.</p>
                </section>
            </article>

            <article class="6u 12u(small)">
                <header>
                    <center><h1><a href="/es/custom-illustrations.html" style="font-family: Pacifico;">Ilustraciones Personalizadas</a></h1></center>
                </header>
                <section>
                    <a href="/es/custom-illustrations.html"><img src="/images/custom/Custom.jpg" class="fit image"></a>
                    <p style="text-align: center;">¿Quieres darle un toque personal al arte que cuelgas en tu pared o quizás un regalo especial y único para alguien?</p>
                </section>
            </article>

            <article class="6u 12u(small)">
                <header>
                    <center><h1><a href="/es/current-projects.html" style="font-family: Pacifico;">Proyectos en Curso</a></h1></center>
                </header>
                <section>
                    <a href="/es/current-projects.html"><img src="/images/custom/UnderConstruction.jpg" class="fit image"></a>
                    <p style="text-align: center;">Manténgase al día con mis nuevos proyectos, libros, ilustraciones y trabajos personalizados.</p>
                </section>
            </article>

            <article class="6u 12u(small)">
                <header>
                    <center><h1><a href="/es/ethos.html" style="font-family: Pacifico;">Mi Filosofía</a></h1></center>
                </header>
                <section>
                    <a href="/es/ethos.html"><img src="/images/custom/Ethos.jpg" class="fit image"></a>
                    <p style="text-align: center;">Mis pensamientos personales sobre el arte y lo que me impulsa como artista.</p>
                </section>
            </article>

            <article class="3u 12u(small)">
                <header>
                <h1>&nbsp;</h1>
                </header>
                <section>
                    <p>&nbsp;</p>
                </section>
            </article>

            <article class="6u 12u(small)">
                <header>
                    <center><h1 style="font-size: 25px;"><a href="/es/support-me.html" style="font-family: Pacifico;">¿Cómo puedes ayudarme?</a></h1></center>
                </header>
                <section>
                    <a href="/es/support-me.html"><img src="/images/custom/PatreonTab.jpg" class="fit image"></a>
                    <p style="text-align: center;">Involúcrate en la creación de mi libro de detectives en un mundo de fantasía y recibe recompensas al mismo tiempo.</p>
                </section>
            </article>

            <article class="3u 12u(small)">
                <header>
                </header>
                <section>
                </section>
            </article>
        </div>
    </section>
    <!--section>
        { -- % for post in site.posts limit:1 % -- }
            <header class="major">
                <h2 style="font-family: Pacifico;">{{ post.title }}</h2>
                <p class="post-meta">{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>

            <section>
                {{ post.content }}
            </section>
        { -- % endfor % -- }
    </section-->
    <section>
        <header class="major" style="margin-bottom: 20px;">
            <div class="image avatar">
                <img src="/images/avatar.jpg" alt="avatar" style="width: 6em; float: left;" />
            </div>
        </header>

        <section>
            <p>
              Soy un artista inglés afincado en una ciudad al sur de España llamada Málaga, trabajo principalmente como ilustrador creando ilustraciones muy detalladas en blanco y negro, a menudo en clave de humor. La meta con mi arte es que la gente quede impactada a primera vista y después absorbida por los pequeños detalles y giros divertidos escondidos en su interior. Estoy trabajando en varios proyectos incluyendo mis propios libros infantiles así como las ilustraciones originales e ilustraciones por encargo que puedo adaptar a los intereses de los clientes.
            </p>
        </section>
    </section>
    <section>
        <center><h5 style="color: white;">creado con <i class="fa fa-heart" style="color: #F42A2A;"></i> por <a href="https://neko250.github.io" target="_blank" style="color: #F42A2A;">neko250</a></h5></center>
    </section>
</div>
